# Telegram настройки
TELEGRAM_BOT_TOKEN=7920256794:AAHDAUXkqjPEJzvoquEVlhUn3OQks0i12jI
TELEGRAM_CHANNEL_ID=2425934717


# GPT-4-mini настройки
GPT_API_KEY=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

# Промпты для каждого дня недели
MONDAY_PROMPT="Пожалуйста, используя новости из интернета на текущий день обратись к интренету приложи ссылки, предоставь подробный анализ текущего состояния рынка недвижимости в Downtown Dubai. Обрати внимание на изменения цен, новые проекты и законодательные инициативы, влияющие на инвестиционный климат, а также укажи ключевые факторы риска и возможности для инвесторов."

TUESDAY_PROMPT="Пожалуйста, собери и проанализируй последние новости из интернета на текущий день обратись к интренету приложи ссылки и тренды в сфере недвижимости в Dubai Marina. Используй проверенные источники, чтобы дать рекомендации по перспективным объектам для инвестиций, акцентируя внимание на развитии инфраструктуры и спросе на аренду."

WEDNESDAY_PROMPT="Пожалуйста, подготовь обзор свежих новостей из интернета на текущий день обратись к интренету приложи ссылки о рынке недвижимости на Palm Jumeirah. Включи актуальные данные о продажах, спросе среди инвесторов и ключевых проектах, а также прогнозируй потенциальные изменения в инвестиционной привлекательности этого района."

THURSDAY_PROMPT="Пожалуйста, используя актуальные новости из интернета на текущий день обратись к интренету приложи ссылки, составь анализ инвестиционных возможностей в сфере недвижимости в Business Bay. Удели внимание новостям о развитии инфраструктуры, крупным проектам и изменениям в регуляторной среде, влияющим на стоимость объектов."

FRIDAY_PROMPT="Пожалуйста, собери свежую информацию из интернета на текущий день обратись к интренету приложи ссылки и предоставь аналитический отчет о состоянии рынка недвижимости в Emirates Hills. Обрати внимание на изменения в ценах, эксклюзивные предложения для инвесторов и прогнозы от экспертов по данному элитному району."

SATURDAY_PROMPT="Пожалуйста, предоставь обзор последних новостей из интернета на текущий день обратись к интренету приложи ссылки, связанных с рынком недвижимости в Jumeirah Beach Residence. Включи данные о спросе на аренду, новых предложениях для инвесторов и анализ тенденций, влияющих на стоимость недвижимости в этом прибрежном районе."

SUNDAY_PROMPT="Пожалуйста, на основе свежих новостей из интернета из интернета на текущий день обратись к интренету приложи ссылки составь аналитический отчет о рынке недвижимости в Jumeirah Village Circle. Включи информацию о динамике цен, развитии инфраструктуры и прогнозах, которые могут оказать влияние на инвестиционные возможности в этом районе."